@font-face {
  font-family: "OSP-DIN";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/OSP-DIN.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("fonts/opensansitalic.woff") format("woff");
}

h1.head {
	font-family: 'OSP-DIN';
	font-weight: bold;
	font-size: 100%;
	text-indent: -0.66em;
}
div.sort {
	text-indent: -0.66em;
}
body {
	margin: 4em 8em;
	font-size: 18px;
    font-family: 'OSP-DIN';
    font-weight: normal;
    font-style: normal;
}

ul {
	list-style: none;
	padding-left: 0;
}
li {
    font-family: 'OSP-DIN';
    font-weight: normal;
    font-style: normal;
    text-indent: -0.66em;
    margin-right: 2em;
}
li a {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 10px;
	font-style: normal;
}

.title {
}
.presenters {
    font-family: 'Open Sans';
    font-size: 14px;
	font-style: italic;
	text-indent: 0;
}
.links {

}

h2.value,h2.letter {
	float: left;
	clear: both;
	text-transform: uppercase;
    font-family: 'OSP-DIN';
    font-weight: bold;
    text-indent: -0.66em;
	font-size: 100%;
	margin-top: 2em;
	margin-bottom: 1em;
}

h3.presenter {
	/*float: left;*/
	/*clear: both;*/
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 100%;
    text-indent: -0.66em;
	margin-top: 1em;
	margin-bottom: 0em;
}

.listing {
	/*-moz-column-count: 4;*/
	float: left;
	clear: both;
	margin-bottom: 2em;
	/*border-top: 5px solid red;*/
}
.column {
	width: 25%;
	float: left;
}
.listing ul {
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}