<!DOCTYPE html>
<html>
<head>
	<title>Libre Graphics Meeting: Video Archive (titles)</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="index.css" />
</head>
<body>
<h1>Libre Graphics Meeting: Video Archive</h1>
<div>
	<a href="index_year.html">Year</a>
	<b>Titles</b>
	<a href="index_speakers.html">Speakers</a>
</div>
<ol>
{% for item in items %}
<li><a href="/terms/{{item.term|wikify}}.html">{{item.forms[0]}}</a></li>
	<div class="presenters">
	{% for d in item.docs %}{% for p in d.properties.presenter %}{{ p }}, {% endfor %}{% endfor %}
	</div>
{% endfor %}
</ol>

</body>
</html>