<!DOCTYPE html>
<html>
<head>
	<title>Libre Graphics Meeting: Video Archive (speakers)</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="index.css" />
</head>
<body>
<h1>Libre Graphics Meeting: Video Archive</h1>
<div>
	<a href="index_year.html">Year</a>
	<a href="index_titles.html">Titles</a>
	<b>Speakers</b>
</div>
<ol>
{% for item in items %}
<li><a href="/terms/{{item.term|wikify}}.html">{{item.forms[0]}}</a></li>
	<ul>
	{% for d in item.docs %}
	<li>{{ d.properties.title[0] }}</li>
	{% endfor %}
	</ul>
{% endfor %}
</ol>

</body>
</html>