<!DOCTYPE html>
<html>
<head>
	<title>Libre Graphics Meeting</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="index.css" />
</head>
<body class="index_titles">
<h1 class="head">Libre Graphics Meeting: Presentations</h1>
<div class="sort">
	list by: <a href="index_years.html">year/city</a>
	<b>title</b>
	<a href="index_presenters.html">presenter</a>
</div>
{% for letter, items_by_value in items_by_letter %}
<h2 class="letter">{{letter}}</h2>
<div class="listing">
<ul>{% for value, items in items_by_value %}
	{% for item in items %}
	<li>
		<span class="title">{{value}}</span> <span class="yearcity">({{item.properties.year[0]}} {{item.properties.city[0]}})</span>
		<span class="presenters">
		{% for p in item.properties.presenter %}{{ p }}{% if not loop.last %},{% endif %} {% endfor %}</span>
		<span class="links">
			{% for link in item.properties.video %}<a href="{{link}}">Video</a> {% endfor %}
			{% for link in item.properties.slides %}<a href="{{link}}">Slides</a> {% endfor %}
			{% for link in item.properties.website %}<a href="{{link}}">Website</a> {% endfor %}
		</span>
	</li>{% endfor %}{% endfor %}
</ul>
</div>
{%endfor%}
</body>
</html>