<!DOCTYPE html>
<html>
<head>
	<title>Libre Graphics Meeting</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="index.css" />
</head>
<body>
<h1 class="head">Libre Graphics Meeting: Presentations</h1>
<div class="sort">
	list by: <b>year/city</b>
	<a href="index_titles.html">title</a>
	<a href="index_presenters.html">presenter</a>
</div>
<ul>{% for value, items in items_by_value %}
	<h2 class="year value">{{value}} {{ items[0].properties.city[0] }}</h2>
	<div class="listing">
	{% for item in items %}
	<li>
		<span class="title">{{ item.properties.title[0] }}</span>
		<span class="presenters">
			{% for p in item.properties.presenter %}{{ p }}{% if not loop.last %},{% endif %} {% endfor %}</span>
		<span class="links">
			<!-- {% if item.properties.video or item.properties.pdf or item.properties.website %}Links: {%endif%} -->
			{% for link in item.properties.video %}<a href="{{link}}">Video</a> {% endfor %}
			{% for link in item.properties.slides %}<a href="{{link}}">Slides</a> {% endfor %}
			{% for link in item.properties.website %}<a href="{{link}}">Website</a> {% endfor %}
		</span>
	</li>{% endfor %}
	</div>
{% endfor %}
</ul>

</body>
</html>